<app-login-header [title]="'Manage Bookings'"></app-login-header>
<h2 class="heading">My Bookings</h2>
<!--<div class="sorting_options">
  <div class="sortoptions brdrgt">
    <div class="sortinside"> 
      <div class="sorttxt" (click)="presentActionSheet()">
        <ion-icon name="options"></ion-icon>
        Sort
      </div>
    </div>
  </div>
  <div class="sortoptions">
      <div class="sortinside"> 
        <div class="sorttxt" (click)="showFilter()">
          <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
          Filter
        </div>
      </div>
  </div>
</div>-->
<ion-content>
  <ion-card no-margin class="card">
    <ion-row>
      <ion-col col-10>      
        <ion-list lines="none">  
          <ion-item>
            <div class="item-inner">
              <div class="input-wrapper">
                <ion-label class="label label-ios">
                  <h2 class="username" style="font-weight: bold">Title</h2>
                  <p>Order No. : 151218101438F617 </p>
                  <p class="post-category" >Category - subcategory</p>
                  <ion-note style="font-size: 12px">
                    <p>Service Date: 17-12-2018 - 17-12-2018</p>
                    <p>Amount: ₹122.00/day</p>
                    <p>City: Bangalore</p>
                    <p>Created: 15-12-2018</p>
                    <p>Status: Rejected</p>
                  </ion-note>
                </ion-label>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-col >
      <ion-col col-2>
        <button no-margin no-padding clear color="black" ion-button icon-only style="float: right; top: 15px; font-size: 30px">
          <ion-icon name="cash"></ion-icon>
          <!--<ion-icon name="eye"></ion-icon>-->
      </button>
      </ion-col>
    </ion-row>
  </ion-card>  
  <div class="no-post txtcenter" *ngIf="!posts">
    <p>No Post Found</p>
  </div>
  <ion-infinite-scroll (ionInfinite)="ionRefresh($event, nextOffset)" loadingSpinner="bubbles" loadingText="Loading Users...">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
