.next_button{
    float: right;
    --background:rgb(48, 160, 45);
}
.item-inner{
  --border: 0px;
  padding-left: 10px;
  .username {
    cursor: pointer;
  }
  .post-category {
    font-size: 12px;
  }
  ion-note {
    font-size: 12px;
    margin-top: -2px;
    width: 100%;
    display: block;
  }
}
.loadmore {
  text-align: center;
  cursor: pointer;
}
ion-refresher {
  background: white;
}

ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }

  /* Stories */
  .story {
    white-space: nowrap;
    height: 105px
  }
  
  .story_scroll {
    display: inline-block;
    width: 70px;
    margin: 10px;
  }

  .story_img_bg {
    width: 70px;
    padding: 2px;
    border-radius: 50%;
    padding-bottom: 0;
    transition: all 1s;
    -webkit-transition: all 0.2s;
    background: -webkit-linear-gradient(left top, crimson 0%, #f90 100%);
  }

  .story_img_bg:active {
    background: -webkit-linear-gradient(left top, #DD2352 0%, #F1642F 100%);
    transform: scale(1.1);
  }

  .story_img {
    width: 70px;
    border-radius: 50%;
  }

  .story_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px
  }

  .card {
    .fl {
      float: left;
      background: none;
      ion-icon {
        font-size:25px;
      }
    }
    ion-avatar { 
      img {
        width: 35px;
        height: 30px;
      }
    }
    .like-content {
      clear:both;
    }
    [col-10] {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 83.33333%;
      -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
      width: 83.33333%;
      max-width: 83.33333%;
    }
    [col-2] {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 16.66667%;
      -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
      width: 16.66667%;
      max-width: 16.66667%;
      button {
        text-align: center;
        vertical-align: middle;
        margin: 47% 0px 0px 0px;
        background: none;
      }
    }
    .post_title {
      text-align: left;
      font-size: 14px;
      margin-left: 20px;
      margin-top: 0px;
    }
    ul.post_tags {
      list-style: none;
      padding-left: 20px;
    }
    .image-gallery {
      clear:both;
      width:100%;
    }

    .card-content-description {
      padding-left: 10px;
    }
  }
.txtcenter {
  text-align: center;
}