<!--<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content padding>

    <ion-card-header>
        <ion-card-title>Wohooo</ion-card-title>
        <ion-card-subtitle>Welcome on board with us...</ion-card-subtitle>
      </ion-card-header>
      <ion-img class="logo-icon" src="assets/icon/logo.png" ></ion-img>
      <hr>
      <hr>
      <form [formGroup]="validations_form"  (ngSubmit)="launchPage(validations_form.value)">
          <div class="validation-errors">
              {{formError}}
          </div>
          <ion-item>
            <ion-input  formControlName="username" placeholder="EmailId/UserName"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.username">
              <div class="error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <ion-item>
            <ion-input  type="password" formControlName="password" minlength="3" placeholder="Password"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <hr>
          <a class="forgot_password" href="url">Forgot Password?</a>
        
        <div class="login-action-btn">
          <ion-button class="buttons" type="submit" [disabled]="!validations_form.valid"><p>Already a Member<span>Sign in</span></p></ion-button>
          <ion-button class="buttons" (click)="OpenSignup()"><p>For Better Experience<span>Sign up</span></p></ion-button>
        </div>
      </form>
      <div class="skip-sec">
        <a class="skip_link" href="url">Skip and just Explore</a><ion-icon class="icon" name="information-circle-outline"></ion-icon>
      </div>

      <ul class="footer_additional_links" >
        <li>
            <a [routerLink]="['/static']" [queryParams]="{section: 'terms-of-use'}" routerDirection="root">Terms & Conditions</a>
        </li>
        <li class="middle"><a [routerLink]="['/static']" [queryParams]="{section: 'privacy-policy'}" routerDirection="root" >Privacy Policy</a></li>
        <li class="last"><a [routerLink]="['/static']" [queryParams]="{section: 'user-agreement'}" routerDirection="root">Agreements</a></li>
      </ul>
	  <ion-button class="buttons" (click)="RedirectTest()"><p>For Better Experience<span>Sign up</span></p></ion-button>
</ion-content>
