<ion-content fullscreen>
  <div class="top-header">
    <a class="back-icon ptr" (click)="closeModalPopup()"><ion-icon name="arrow-round-back"></ion-icon></a>
    <div class="fltrtext">
      <span>Filter</span>
    </div>
    <a class="clearfltr ptr" (click)="clearFilter()">clear filter</a>
  </div>

  <form onsubmit="processForm(event)">
    <div class="filter-section">
      <ion-item>
        <ion-label position="stacked">Title</ion-label>
        <ion-input type="text" value="{{filterData.title}}" (ionBlur)="handleinput($event, 'title')"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Select category</ion-label>
        <ion-select placeholder="category" (ionChange)="handleinput($event, 'category')">
          <ion-select-option *ngFor="let cat of categories;let i=index;"
          [value]='cat.ser_cate_primary_id'
          [selected]="filterData.category == cat.ser_cate_primary_id">{{cat.ser_cate_name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Select subcategory</ion-label>
        <ion-select placeholder="subcategory"  (ionChange)="handleinput($event, 'subcategory')">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Select availability</ion-label>
        <ion-select multiple placeholder="availability"  (ionChange)="handleinput($event, 'availability')">
            <ion-select-option value="mon">Mon</ion-select-option>
            <ion-select-option value="tue">Tue</ion-select-option>
            <ion-select-option value="wed">Wed</ion-select-option>
            <ion-select-option value="thu">Thu</ion-select-option>
            <ion-select-option value="fri">Fri</ion-select-option>
            <ion-select-option value="sat">Sat</ion-select-option>
            <ion-select-option value="sun">Sun</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Select city</ion-label>
        <ion-select placeholder="city"  (ionChange)="handleinput($event, 'city')">
          <ion-select-option value="f">Female</ion-select-option>
          <ion-select-option value="m">Male</ion-select-option>
        </ion-select>
      </ion-item>
    </div>
    <div class="filter-action">
      <div col="6" class="width50 blkbtn ptr" (click)="closeModalPopup()">
        <span class="txt">Cancel</span>
      </div>
      <div col="6" class="width50 redbtn ptr" (click)="applyFilter()">
          <span class="txt">Apply</span>
        </div>
    </div>
  </form>
</ion-content>      