<app-login-header [title]="'Products'"></app-login-header>

<ion-content padding>
  <div class="productsection">
    <div class="gallery">
      <ion-slides pager="true" [options]="slideOpts" *ngIf="gallery.length > 0">
        <ion-slide *ngFor="let images of gallery">
            <img class="imagegal" src="{{images}}">
        </ion-slide>
      </ion-slides>
    </div>
    
    <div class="productTitlesection">
        <span class="providername" (click)="userProfile(posts.customer_username)">{{posts.customer_username}}</span>
        <p class="txt">{{posts.product_name}}</p>
    </div>
    
    <div class="pricing">
      <span class="price a-size-medium a-color-price a-text-bold" *ngIf="product_special_price != ''">₹{{product_special_price}}</span>
      <!--<span class="price a-size-medium a-color-price a-text-bold" *ngIf="posts.discount <= 0">₹{{posts.product_price}}</span>
      <span class="a-letter-space"></span>-->
      <span class="old-price a-text-strike"  *ngIf="product_special_price != ''">₹{{price}}</span>
    </div>
    
    <div class="attributes_section" *ngIf="attributes.length > 0">
      <ion-card *ngFor="let attribute of attributes">
        <ion-card-header>
          <ion-card-title>
            {{attribute.pro_modifier_name}}
            <span>{{getSelectedAttributeValue(attribute)}}</span>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-chip outline (click)="selectAttribute(attribute, i)" [ngClass]="{'active': getActive(attribute.pro_modifier_id, attribute.values.primary_ids[i])}" class="ion-color ion-color-primary ios chip-outline ion-activatable hydrated" *ngFor="let attributeName of attribute.values.names; let i=index">
            <ion-label *ngIf="attribute.pro_modifier_display == 'text' || (attribute.pro_modifier_display == 'image' && (attribute.value_images[i] ==undefined || attribute.value_images[i] == ''))">{{attributeName}}</ion-label>
            <ion-label *ngIf="attribute.pro_modifier_display == 'image' && attribute.value_images[i] != undefined && attribute.value_images[i] != ''">{{attribute.value_images[i]}}</ion-label>
          </ion-chip>
        </ion-card-content>
      </ion-card>
    </div>

    <div class="shipping_section">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Shipping Method</ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-select [(ngModel)]="shippingMethod" placeholder="Select Shipping Method">
                <ion-select-option value="{{shipmode.prod_ass_ship_method_shipid+'--'+shipmode.ship_method_name}}" *ngFor="let shipmode of shippingMethods">{{shipmode.ship_method_name}} - ₹{{shipmode.prod_ass_ship_method_price}}</ion-select-option>
              </ion-select>
          </ion-card-content>
        </ion-card>      
    </div>
    <div class="description">
      <p>{{posts.product_long_description}}</p>
    </div>
    
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="dark"><a class="white" target="_blank" href="https://www.facebook.com/sharer.php?u=http://www.bloggoto.com/services/view/{{posts.product_slug}}"><ion-icon name="logo-facebook"></ion-icon></a></ion-fab-button>
      <ion-fab-button color="dark"><a class="white" target="_blank" href="https://plus.google.com/share?url=http://www.bloggoto.com/services/view/{{posts.product_slug}}"><ion-icon name="logo-googleplus"></ion-icon></a></ion-fab-button>
      <ion-fab-button color="dark"><a class="white" target="_blank" href="https://twitter.com/share?text=http://www.bloggoto.com/services/view/{{posts.product_slug}}"><ion-icon name="logo-twitter"></ion-icon></a></ion-fab-button>
      <ion-fab-button color="dark"><a class="white" target="_blank" href="mailto:?subject=Referal&body=http://www.bloggoto.com/services/view/{{posts.product_slug}}"><ion-icon name="mail"></ion-icon></a></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-row>
        <ion-col size="4">
            <div class="pricing">
              <span class="price a-size-medium a-color-price a-text-bold" *ngIf="product_special_price != ''">₹{{product_special_price}}</span>
              <span class="price a-size-medium a-color-price a-text-bold" *ngIf="product_special_price == ''">₹{{price}}</span>
            </div>
        </ion-col>
        <ion-col size="8">
          <ion-button [ngClass]="{'disabled': (selectedAttribure.length != attributes.length || shippingMethod =='') }"  *ngIf="userInfo !== null" (click)="showFilter(posts)" expand="block" class="ios button button-block button-solid ion-activatable ion-focusable hydrated">Add to cart</ion-button>
          <ion-button  *ngIf="userInfo == null" (click)="redirectLogin()" expand="block" class="ios button button-block button-solid ion-activatable ion-focusable hydrated">Login Now to Book</ion-button>
        </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-footer>
