<app-login-header [title]="'Products'"></app-login-header>
<ion-content padding>
    <div class="pro-com sale-sec" id="sale-sec">
        <div class="pro-com-left fl txtr saleheight" style="height: 160px;">
          <h3><span>What’s</span> for sale?</h3>
                  <ul>
                          <li><a href="/flash-sale/index/food-dining">Food &amp; Dining</a></li>
                          <li><a href="/flash-sale/index/fashion-accessories">Fashion &amp; Accessories</a></li>
                          <li><a href="/flash-sale/index/beauty-spas">Beauty &amp; Spas</a></li>
                          <li><a href="/flash-sale/index/lifestyle-gifts">Lifestyle &amp; Gifts</a></li>
                          <li><a href="/flash-sale/index/digital-electronics">Digital &amp; Electronics</a></li>
                      <li><a class="view_link" href="/flash-sale">View All</a></li>
          </ul>
                </div>
        <div class="pro-com-right fr saleheight" style="height: 428px;">
                  <div class="sale-owl-carousel  owl-carousel owl-theme owl-loaded owl-drag">
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
                        
              
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-457px, 0px, 0px); transition: all 0.25s ease 0s; width: 3660px;"><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/any-2-choices-of-castella-spongecakes-for-2-off" title="Any 2 choices of Castella Spongecakes for $2 off"><img src="https://freelor.com/frontend/web/images/products/lecastellahYLvAyIXAVfMC-m7uOVJZr7DHW-VP8BE.jpg" alt="Any 2 choices of Castella Spongecakes for $2 off"></a>
                                                          <span class="discount-tag">11% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/any-2-choices-of-castella-spongecakes-for-2-off" title="Any 2 choices of Castella Spongecakes for $2 off">Any 2 choices of Castella Spongecakes for $2 off</a></h4>
                    <p>Taiwan's famous Le Castella Fluffy Sponge Cakes</p>
                                        <a href="/merchants/detail/le-castella-singapore" class="product_merchant">Le Castella Singapore</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                            <p class="sold">15 Sold </p>									</div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$19.80</p>
                        <p class="new-price">S$17.80</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/brightime-boxy-fancy-brick-single-watch-winder" title="Brightime Boxy Fancy Brick Single Watch Winder"><img src="https://freelor.com/frontend/web/images/products/brightime-boxytqKI0FHsupDFmosTpDe8wUFdPAiNVofv.jpg" alt="Brightime Boxy Fancy Brick Single Watch Winder"></a>
                                                          <span class="discount-tag">20% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/brightime-boxy-fancy-brick-single-watch-winder" title="Brightime Boxy Fancy Brick Single Watch Winder">Brightime Boxy Fancy Brick Single Watch Winder</a></h4>
                    <p>Superior Edition of Brick Winder System. Perfect gift for any occasion.</p>
                                        <a href="/merchants/detail/brightime" class="product_merchant">Brightime By Championtime</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                            <p class="sold">3 Sold </p>									</div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$198.00</p>
                        <p class="new-price">S$160.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/up-to-30-off-cash-voucher-for-sous-vide-japanese-cuisine" title="Up to 30% off Cash Voucher for Sous-Vide Japanese Cuisine"><img src="https://freelor.com/frontend/web/images/products/wafuken-dealg0-53zaJ61dNrjezEc55VQdexGDOr9j_.jpg" alt="Up to 30% off Cash Voucher for Sous-Vide Japanese Cuisine"></a>
                                                          <span class="discount-tag">20% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/up-to-30-off-cash-voucher-for-sous-vide-japanese-cuisine" title="Up to 30% off Cash Voucher for Sous-Vide Japanese Cuisine">Up to 30% off Cash Voucher for Sous-Vide Japanese Cuisine</a></h4>
                    <p>Enjoy a delicious &amp; healthy Sous-Vide Japanese Cuisine in Singapore’s CBD</p>
                                        <a href="/merchants/detail/wafuken" class="product_merchant">Wafuken</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                            <p class="sold">2 Sold </p>									</div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$15.00</p>
                        <p class="new-price">S$12.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item active" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/buy-any-3-bottles-of-kecha-tea-get-1-free" title="Buy Any 3 Bottles of KECha Tea &amp; Get 1 Free"><img src="https://freelor.com/frontend/web/images/products/kecha-02fd9woCjNrx1KSTbVJdcUYgdm_a5C6bLv.jpg" alt="Buy Any 3 Bottles of KECha Tea &amp; Get 1 Free"></a>
                                                          <span class="discount-tag">26% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/buy-any-3-bottles-of-kecha-tea-get-1-free" title="Buy Any 3 Bottles of KECha Tea &amp; Get 1 Free">Buy Any 3 Bottles of KECha Tea &amp; Get 1 Free</a></h4>
                    <p>Healthy floral refreshing tea with different types of flavors</p>
                                        <a href="/merchants/detail/kecha-singapore" class="product_merchant">KECha Singapore</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                            <p class="sold">2 Sold </p>									</div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$19.60</p>
                        <p class="new-price">S$14.70</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item active" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/songhe-noble-rice-berry-1kg" title="SongHe Noble Rice Berry 1kg"><img src="https://freelor.com/frontend/web/images/products/sh-berry-01Z60Xh_z6ERbpNmR7gDmspkWgAYKDnaho.jpg" alt="SongHe Noble Rice Berry 1kg"></a>
                                                          <span class="discount-tag">27% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/songhe-noble-rice-berry-1kg" title="SongHe Noble Rice Berry 1kg">SongHe Noble Rice Berry 1kg</a></h4>
                    <p>Noble berry rice that is high in fibre and rich in Vitamin B and E</p>
                                        <a href="/merchants/detail/the-rice-shop" class="product_merchant">The Rice Shop</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">3% Cashback</p>
                                            <p class="sold">1 Sold </p>									</div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$8.60</p>
                        <p class="new-price">S$6.35</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/schlage-s-480-digital-lock-2-in-1-system" title="Schlage S-480 Digital Lock - 2 in 1 System"><img src="https://freelor.com/frontend/web/images/products/an-schlage-s480jOIGkCbPr3_zmWJUNdW9f_k1AgsEYuVv.jpg" alt="Schlage S-480 Digital Lock - 2 in 1 System"></a>
                                                          <span class="discount-tag">26% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/schlage-s-480-digital-lock-2-in-1-system" title="Schlage S-480 Digital Lock - 2 in 1 System">Schlage S-480 Digital Lock - 2 in 1 System</a></h4>
                    <p>2 in 1 System with RFID Card Access and Number Pin Code</p>
                                        <a href="/merchants/detail/an-digital-lock" class="product_merchant">AN Digital Lock</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                            <p class="sold">1 Sold </p>									</div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$399.00</p>
                        <p class="new-price">S$299.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/summer-nail-classic-gel-manicure-pedicure" title="Summer Nail Classic Gel Manicure &amp; Pedicure"><img src="https://freelor.com/frontend/web/images/products/summer-gel-mani-pedi1gXWn5yz32CFwTEESpfOaAiVn1gk3Q5R.jpg" alt="Summer Nail Classic Gel Manicure &amp; Pedicure"></a>
                                                          <span class="discount-tag">20% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/summer-nail-classic-gel-manicure-pedicure" title="Summer Nail Classic Gel Manicure &amp; Pedicure">Summer Nail Classic Gel Manicure &amp; Pedicure</a></h4>
                    <p>Shaping, trim of cuticle, buff, apply lotion, apply one gel colour for the manicure &amp; pedicure</p>
                                        <a href="/merchants/detail/summer-nail-salon" class="product_merchant">Summer Nail Salon</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                            <p class="sold">1 Sold </p>									</div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$135.00</p>
                        <p class="new-price">S$108.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/gue-mbs-3-stalks-sunflower-bouquet" title="Gue MBS 3 Stalks Sunflower Bouquet"><img src="https://freelor.com/frontend/web/images/products/miiv-geumbs-3-sun09sDd0rw0qlxDYZb-yVYZDgQQ1WYTUQK.jpg" alt="Gue MBS 3 Stalks Sunflower Bouquet"></a>
                                                          <span class="discount-tag">30% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/gue-mbs-3-stalks-sunflower-bouquet" title="Gue MBS 3 Stalks Sunflower Bouquet">Gue MBS 3 Stalks Sunflower Bouquet</a></h4>
                    <p>MBS Inspired bouquet to brighten someone's day, perfect gift for graduation, birthday etc.</p>
                                        <a href="/merchants/detail/miiv-flora" class="product_merchant">Miiv Flora</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                            <p class="sold">1 Sold </p>									</div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$75.00</p>
                        <p class="new-price">S$52.50</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/any-2-pasta-2-sides-soups-for-only-3690" title="Any 2 Pasta + 2 Sides / Soups for only $36.90"><img src="https://freelor.com/frontend/web/images/products/grazie-2p-2sAy1Vlc0JhS3gY03F8CaghGLaV_CzYVBS.jpg" alt="Any 2 Pasta + 2 Sides / Soups for only $36.90"></a>
                                                          <span class="discount-tag">23% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/any-2-pasta-2-sides-soups-for-only-3690" title="Any 2 Pasta + 2 Sides / Soups for only $36.90">Any 2 Pasta + 2 Sides / Soups for only $36.90</a></h4>
                    <p>Choice of 8 pastas such as Aglio Seafood, Tomato Meatballs, Salads / Soup</p>
                                        <a href="/merchants/detail/grazie" class="product_merchant">Grazie</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                            <p class="sold">1 Sold </p>									</div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$47.60</p>
                        <p class="new-price">S$36.90</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/kaadas-k8-push-pull-digital-lock-5-in-1-system" title="Kaadas K8 Push Pull Digital Lock - 5 in 1 System"><img src="https://freelor.com/frontend/web/images/products/an-kaadas-k8rYD9bB-eAqVtQ9B_LoqQJgbbohO1roKW.jpg" alt="Kaadas K8 Push Pull Digital Lock - 5 in 1 System"></a>
                                                          <span class="discount-tag">11% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/kaadas-k8-push-pull-digital-lock-5-in-1-system" title="Kaadas K8 Push Pull Digital Lock - 5 in 1 System">Kaadas K8 Push Pull Digital Lock - 5 in 1 System</a></h4>
                    <p>5 in 1 System with Fingerprint, RFID, Access Code, Bluetooth and Key</p>
                                        <a href="/merchants/detail/an-digital-lock" class="product_merchant">AN Digital Lock</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                            <p class="sold">1 Sold </p>									</div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$1,000.00</p>
                        <p class="new-price">S$899.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/carnation-footcare-silky-feet-hard-skin-remover" title="Carnation Footcare Silky Feet Hard Skin Remover"><img src="https://freelor.com/frontend/web/images/products/carfc-skin-remover-01ARg4gUGCk-LBzT2cJTO30AAqTPdOOrsC.jpg" alt="Carnation Footcare Silky Feet Hard Skin Remover"></a>
                                                          <span class="discount-tag">20% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/carnation-footcare-silky-feet-hard-skin-remover" title="Carnation Footcare Silky Feet Hard Skin Remover">Carnation Footcare Silky Feet Hard Skin Remover</a></h4>
                    <p><span>Buffs away hard and jagged skin on the feet using rotational abrasive roller</span></p>
                                        <a href="/merchants/detail/carnation-footcare" class="product_merchant">Carnation Footcare</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                            <p class="sold">1 Sold </p>									</div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$45.90</p>
                        <p class="new-price">S$36.80</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/aztech-vc3000-smart-robotic-vacuum-cleaner-2" title="Aztech VC3000 Smart Robotic Vacuum Cleaner"><img src="https://freelor.com/frontend/web/images/products/an-aztec-vc3000P8hi2FjFioKEIc9wSHe2bTHfYj5NQzlR.jpg" alt="Aztech VC3000 Smart Robotic Vacuum Cleaner"></a>
                                                          <span class="discount-tag">43% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/aztech-vc3000-smart-robotic-vacuum-cleaner-2" title="Aztech VC3000 Smart Robotic Vacuum Cleaner">Aztech VC3000 Smart Robotic Vacuum Cleaner</a></h4>
                    <p>Automatic clean, charge, suction and height adjustment</p>
                                        <a href="/merchants/detail/an-digital-lock" class="product_merchant">AN Digital Lock</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                            <p class="sold">1 Sold </p>									</div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$399.00</p>
                        <p class="new-price">S$229.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/full-metal-bolt-less-racking-single-unit" title="Full Metal Bolt-less Racking - Single Unit"><img src="https://freelor.com/frontend/web/images/products/fm-single-beigePjmaku3pdmFZ5IMq4x0JM8WOIoFMtmNL.jpg" alt="Full Metal Bolt-less Racking - Single Unit"></a>
                                                          <span class="discount-tag">10% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/full-metal-bolt-less-racking-single-unit" title="Full Metal Bolt-less Racking - Single Unit">Full Metal Bolt-less Racking - Single Unit</a></h4>
                    <p>Full metal bolt-less rack - 2 color choice with install &amp; delivery</p>
                                        <a href="/merchants/detail/twenty-four-hardware" class="product_merchant">Twenty Four Hardware</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                                              </div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$250.00</p>
                        <p class="new-price">S$225.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/box-of-6-pieces-mango-mousse-shot" title="Box of 6 Pieces Mango Mousse Shot"><img src="https://freelor.com/frontend/web/images/products/mango-mousse-shotrmnnb0leNwRqP2ecBXP81hxL4hdGaD2S.jpg" alt="Box of 6 Pieces Mango Mousse Shot"></a>
                                                          <span class="discount-tag">8% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/box-of-6-pieces-mango-mousse-shot" title="Box of 6 Pieces Mango Mousse Shot">Box of 6 Pieces Mango Mousse Shot</a></h4>
                    <p>Mango mousse shot topped with strawberry</p>
                                        <a href="/merchants/detail/my-bake-studio" class="product_merchant">My Bake Studio</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                                              </div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$15.00</p>
                        <p class="new-price">S$13.80</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/any-2-mains-2-soups-for-only-50-up-to-31-off" title="Any 2 Mains + 2 Soups for only $50 (Up to 31% Off)"><img src="https://freelor.com/frontend/web/images/products/thyme-chickenCKHhABXqUtKCAzJn1Fm34El7pFa4dibo.jpg" alt="Any 2 Mains + 2 Soups for only $50 (Up to 31% Off)"></a>
                                                          <span class="discount-tag">31% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/any-2-mains-2-soups-for-only-50-up-to-31-off" title="Any 2 Mains + 2 Soups for only $50 (Up to 31% Off)">Any 2 Mains + 2 Soups for only $50 (Up to 31% Off)</a></h4>
                    <p>Enjoy a quality selection of western european cuisine for 2</p>
                                        <a href="/merchants/detail/thyme-at-rochester" class="product_merchant">Thyme at Rochester</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                                              </div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$72.00</p>
                        <p class="new-price">S$50.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/korean-watershine-meso-facial-eyebrow-trimming-mask" title="Korean Watershine Meso Facial + Eyebrow Trimming + Mask"><img src="https://freelor.com/frontend/web/images/products/fab-mesojykao5taVJGvPGadl65ag3PZRku9bXWh.jpg" alt="Korean Watershine Meso Facial + Eyebrow Trimming + Mask"></a>
                                                          <span class="discount-tag">76% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/korean-watershine-meso-facial-eyebrow-trimming-mask" title="Korean Watershine Meso Facial + Eyebrow Trimming + Mask">Korean Watershine Meso Facial + Eyebrow Trimming + Mask</a></h4>
                    <p>Get that Korean Superstar Skin &amp; complexion! Bright, Clear &amp; Dewy!</p>
                                        <a href="/merchants/detail/fabulous-aesthetics" class="product_merchant">Fabulous Aesthetics</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                                              </div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$280.00</p>
                        <p class="new-price">S$68.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/30-pieces-non-alcoholic-sng-baos-135ml" title="30 Pieces Non-Alcoholic Sng Baos (135ml)"><img src="https://freelor.com/frontend/web/images/products/tsbs-30-na-sbHpd3-NXtE9-pCgG7ZbcwWnur8itiQF1-.jpg" alt="30 Pieces Non-Alcoholic Sng Baos (135ml)"></a>
                                                          <span class="discount-tag">7% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/30-pieces-non-alcoholic-sng-baos-135ml" title="30 Pieces Non-Alcoholic Sng Baos (135ml)">30 Pieces Non-Alcoholic Sng Baos (135ml)</a></h4>
                    <p>30 Pieces of Non-Alcoholic Sng Baos (135ml) pack with free delivery</p>
                                        <a href="/merchants/detail/the-sng-bao-society" class="product_merchant">The Sng Bao Society</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                                              </div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$90.00</p>
                        <p class="new-price">S$84.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/car-servicing-diagnostic-check-for-1-car" title="Car Servicing + Diagnostic Check for 1 Car"><img src="https://freelor.com/frontend/web/images/products/lk-performanceABiY-O7Uwb4LtteSByi1MHJRS0w6e9tu.jpg" alt="Car Servicing + Diagnostic Check for 1 Car"></a>
                                                          <span class="discount-tag">40% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/car-servicing-diagnostic-check-for-1-car" title="Car Servicing + Diagnostic Check for 1 Car">Car Servicing + Diagnostic Check for 1 Car</a></h4>
                    <p>Engine Oil, Oil Filter, Diagnosis, Interval Reset, Labour Charges</p>
                                        <a href="/merchants/detail/lk-performance-centre" class="product_merchant">LK Performance Centre</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                                              </div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$128.00</p>
                        <p class="new-price">S$78.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/matte-or-gloss-black-rims-spray-painting" title="Matte or Gloss Black Rims Spray Painting"><img src="https://freelor.com/frontend/web/images/products/spectrum-rims-mb-gbtx2XTRmgu7eSiWMKKMCq-Gw8I4uHmEH_.jpg" alt="Matte or Gloss Black Rims Spray Painting"></a>
                                                          <span class="discount-tag">38% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/matte-or-gloss-black-rims-spray-painting" title="Matte or Gloss Black Rims Spray Painting">Matte or Gloss Black Rims Spray Painting</a></h4>
                    <p>2 color choices for 4 pieces of rims</p>
                                        <a href="/merchants/detail/spectrum-werks" class="product_merchant">Spectrum Werks</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                                              </div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$300.00</p>
                        <p class="new-price">S$188.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/12cm-3d-sandstone-figurine-with-base-full-color" title="12CM 3D Sandstone Figurine with base (Full Color)"><img src="https://freelor.com/frontend/web/images/products/3arts-pack-bdVYcODwrf1gxP6cMDWMMCW1LYZMcB8AK.jpg" alt="12CM 3D Sandstone Figurine with base (Full Color)"></a>
                                                          <span class="discount-tag">22% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/12cm-3d-sandstone-figurine-with-base-full-color" title="12CM 3D Sandstone Figurine with base (Full Color)">12CM 3D Sandstone Figurine with base (Full Color)</a></h4>
                    <p>Full Color Design Selfie Impression Figurine</p>
                                        <a href="/merchants/detail/3arts-concept" class="product_merchant">3Arts Concept</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                                              </div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$380.00</p>
                        <p class="new-price">S$300.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/dnails-classic-manicure-and-pedicure-package" title="D'Nails Classic Manicure and Pedicure Package "><img src="https://freelor.com/frontend/web/images/products/dnails-class-mp_4__6AceSFDz_KS5RKUzPuym_nGyPtQB.jpg" alt="D'Nails Classic Manicure and Pedicure Package "></a>
                                                          <span class="discount-tag">19% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/dnails-classic-manicure-and-pedicure-package" title="D'Nails Classic Manicure and Pedicure Package ">D'Nails Classic Manicure and Pedicure Package </a></h4>
                    <p>Shape, Trimming of cuticles, Remove dry skin, Scrub, Hot towel, Massage, Colour</p>
                                        <a href="/merchants/detail/dnails-cafe" class="product_merchant">D'Nails Cafe</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                                              </div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$55.00</p>
                        <p class="new-price">S$45.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/professional-eye-brow-embroidery-free-designing" title="Professional Eye Brow Embroidery + Free Designing"><img src="https://freelor.com/frontend/web/images/products/mico-embroidery9JxN_PShrcePRxzVnp_m6t46QaeBIN_t.jpg" alt="Professional Eye Brow Embroidery + Free Designing"></a>
                                                          <span class="discount-tag">65% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/professional-eye-brow-embroidery-free-designing" title="Professional Eye Brow Embroidery + Free Designing">Professional Eye Brow Embroidery + Free Designing</a></h4>
                    <p>Professional eye brow embroidery + free designing session</p>
                                        <a href="/merchants/detail/mico-beauty-salon" class="product_merchant">Mico Beauty Salon</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                                              </div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$280.00</p>
                        <p class="new-price">S$99.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/swat-backpack" title="Swat Backpack"><img src="https://freelor.com/frontend/web/images/products/dg-swat-01ucmPG5q8m9E7VXoL_OVWDa09UBOjxIHz.jpg" alt="Swat Backpack"></a>
                                                          <span class="discount-tag">16% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/swat-backpack" title="Swat Backpack">Swat Backpack</a></h4>
                    <p>Fashionable Backpack with a laptop / water bladder compartment</p>
                                        <a href="/merchants/detail/dg-soldiertalk" class="product_merchant">DG SoldierTalk</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                                              </div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$30.90</p>
                        <p class="new-price">S$26.00</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div><div class="owl-item" style="width: 137.5px; margin-right: 15px;"><div class="item ">
                <div class="pro-slide fl" style="height: 405px;">
                  <div class="pro-slide-img">
                                        <a href="/flash-sale/detail/box-of-10-macaroons-mix-of-2-flavors-choices" title="Box of 10 Macaroons (Mix of 2 flavors choices)"><img src="https://freelor.com/frontend/web/images/products/grazie-macaroonfExdjjWTycjSOLx9LRFB6qbCcWRTCvTG.jpg" alt="Box of 10 Macaroons (Mix of 2 flavors choices)"></a>
                                                          <span class="discount-tag">16% Off<p></p>
                                    </span></div>
                  <div class="pro-slide-con ">
                    <h4><a href="/flash-sale/detail/box-of-10-macaroons-mix-of-2-flavors-choices" title="Box of 10 Macaroons (Mix of 2 flavors choices)">Box of 10 Macaroons (Mix of 2 flavors choices)</a></h4>
                    <p>10 Handmade Macaroons with mix of 2 flavour choices to your liking!</p>
                                        <a href="/merchants/detail/grazie" class="product_merchant">Grazie</a>
                                      <div class="discount-part fl txtl">
                                            <p class="discount">5% Cashback</p>
                                                              </div>
                                        <div class="price-part fr txtr">
                        <p class="old-price">S$20.00</p>
                        <p class="new-price">S$16.90</p>
                      </div>
                                      <div class="clear"></div>
                  </div>
                </div>
              </div></div></div></div><div class="owl-nav"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots disabled"></div></div>
                </div>
        <div class="clear"></div>
      </div>
</ion-content>
