<app-login-header [title]="'Products'"></app-login-header>
<ion-content padding>
  <div class="products-section" *ngFor="let cats of categories">
    <div class="heading-title">
      <h3><span class="txt">{{cats.pro_cate_name}}</span></h3>
    </div>
    <ion-grid>
        <ion-row>
          <!--
          <ion-col size="1">
            <span class="slider-nav arrow-prev" (click)="slidePrev(sliderThree,slideWithNav)">
              <div class="prev-icon-custom custon-nav"><ion-icon name="arrow-back"></ion-icon>
              </div>
            </span>
          </ion-col>
        (ionSlideDidChange)="SlideDidChange(sliderThree,slideWithNav)"-->
          <ion-col size="12">
            <ion-slides pager="false" [options]="slideOptsOne" #slideWithNav >
                <ion-slide *ngFor="let subcats of cats.subcategory">
                  <div class="category-section">
                    <a (click)="redirectList(subcats)" routerDirection="root" class="link-subcategory">
                      <img class="sub_image" *ngIf="subcats.pro_subcate_image" src="{{subcats.pro_subcate_image}}">
                      <img class="sub_image" *ngIf="subcats.pro_subcate_image == ''" src="assets/icon/DefaultPic.jpg">
                      <p class="subcategory_title">{{subcats.pro_subcate_name}}</p>
                    </a>
                  </div>
                </ion-slide>
            </ion-slides>
          </ion-col>
          <!--
          <ion-col size="1">
            <span class="slider-nav arrow-next" (click)="slideNext(sliderThree,slideWithNav)">
              <div class="next-icon-custom custon-nav"><ion-icon name="arrow-forward"></ion-icon>
              </div>
            </span>
          </ion-col>-->
        </ion-row>
      </ion-grid>
  </div>
</ion-content>