
.a-subheader {
    background-color: rgba(0,0,0,.03);
    border-bottom: .1rem solid rgba(0,0,0,.05);
    .a-icon-page-back {
    }
    h4 {
        font-size: 13px !important;
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1;
        font-weight: 700;
        margin: 0px;
        ion-icon {
            float: left;
        }
        span {
            float: left;
            margin-left:2px;
        }
    }
}
.a-container {
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 1px 0 rgba(0,0,0,.03) inset, 0 1px 0 rgba(255,255,255,.3);
    left: -14px;
    margin-right: -7px;
    padding: 12px 14px 10px 14px;
    .a-grid-vertical-align {
        display: table!important;
        table-layout: fixed;
        zoom: 1;
        border-collapse: collapse;
        width: 100%;
        div.a-column {
            vertical-align: middle;
        }
        .a-span7 {
            width: 61.25%;
            float: left;
            display: block;
            span {
                overflow-x: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-rendering: auto;
                font-size: 13px;
            }
        }
        .a-span5 {
            width: 38.75%;
            padding-right: 5px;
            float: right;
            display: block;
            text-align: right;
            #sx-top-filter-button {
                text-decoration: none;
                color: #0066c0;
                font-size: 13px;          
            }
        }
    }
}

.card-container {
    .outer_img {
        display: table;
        min-height: 200px;
        width: 100%;
        .inner_img {
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            img {
                max-height: 200px;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    .grid-detail {
        min-width: 2rem;
        padding: 10px 0 10px 0;
        margin: 0 auto;
        .sx-title {
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            -webkit-line-clamp: 2;
            font-size: 1.1rem!important;
            line-height: 1 !important;
            font-weight: 700;
            margin-bottom: 2px;
            height: 40px;
            overflow: hidden;
            width:135px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            .textProductTitle {
                font-style: normal!important;
                text-transform: none!important;
                text-decoration: none!important;
                font-size: 14px !important;
            }
        }
        .sx-overflow-ellipses, div.sx-overflow-ellipses {
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }
        .a-text-bold{
            font-weight: 700!important;
        }
        .a-size-medium {
            text-rendering: optimizeLegibility;
            font-size: 1rem!important;
            line-height: 1.25!important;
        }
        .a-color-price {
            color: #B12704!important;
        }
        .a-letter-space {
            display: inline-block;
            width: .4em;
        }
        .a-text-strike {
            text-decoration: line-through!important;
        }
        .a-size-mini {
            font-size: 0.65rem !important;
            line-height: 1.5!important;
        }
        .a-color-secondary {
            color: #555!important;
        }
        .a-letter-space {
            display: inline-block;
            width: .4em;
        }
        
    }
}

.cardProducts:nth-child(1n+3) {
    border-top: 1px solid #DDD;
}
.cardProducts {
    border-left: 1px solid #DDD;
}
.cardProducts:nth-child(2n+1) {
    border-left-width: 0px;
    border-left: none !important;
}